.button{
    padding: 0.8rem;
    background-color: #91D7FF;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
    color: #4F5E75;
    box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.27);
-webkit-box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.27);
-moz-box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.27);
}