body {
  color: #4F5E75;
  font-family: "Outfit";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Outfit";
  src: local("OutfitVariableFont_wght"),
    url("./fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 60%;
  margin: auto;
}

.hotelsContainer{
  margin-top: 3rem;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hotelsCol{display: flex;
flex-direction: column;
width: 80%;}